{% extends '_base.html' %}

{% block header %}
	<!-- Header area -->
	<section id="header">
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="img/logo-image.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>creative</strong> and passion
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Eat and drink <strong>design</strong>
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										We loves <strong>simplicity</strong>
									</p>
								</li>
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
	</section>
	{% endblock %}
	{% block spacer %}
	<section id="spacer" class="spacer green">
		<!-- spacer -->	
	</section>
	{% endblock %}
	{% block about %}
	<section id="about" class="section">
		<!-- about -->	
	</section>
	{% endblock %}
	{% block services %}
	<!--<section id="services" class="section orange">
		servicios 		
	</section>-->
	{% endblock %}
	{% block works %}
	<!--section id="works" class="section">
		<div class="container clearfix">
			trabajos 	
		</div>
	</section>-->
	{% endblock %}
	{% block contact %}
	<section id="contact" class="section green">
		<div class="container">
			<h4>List of LINK</h4>
			<p>
				This web is for view a list of link
			</p>
			<p>
				You need sign in or register for view links
			</p>
			<div class="blankdivider30">
			</div>
		</div>
	</section>
	{% endblock %}

